@import 'tailwindcss';
@config '../../tailwind.config.ts';

:root {
  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-gray-25: 248 248 248;
  --color-gray-50: 237 238 242;
  --color-gray-100: 224 224 229;
  --color-gray-200: 198 200 207;
  --color-gray-300: 179 180 188;
  --color-gray-400: 159 160 167;
  --color-gray-500: 132 133 140;
  --color-gray-600: 112 113 119;
  --color-gray-700: 93 93 97;
  --color-gray-800: 73 73 76;
  --color-gray-900: 50 50 54;
  --color-gray-950: 31 31 34;

  --color-primary-100: 229 243 255;
  --color-primary: 61 158 242;

  --color-red: 255 39 39;
  --font-sans:
    var(--font-pretendard), Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

:root[data-theme='dark'] {
  --color-white: 12 12 14;
  --color-black: 240 240 244;

  --color-gray-25: 18 18 21;
  --color-gray-50: 28 28 33;
  --color-gray-100: 38 38 45;
  --color-gray-200: 57 57 66;
  --color-gray-300: 77 77 88;
  --color-gray-400: 96 96 110;
  --color-gray-500: 120 122 140;
  --color-gray-600: 146 149 167;
  --color-gray-700: 172 176 195;
  --color-gray-800: 196 201 218;
  --color-gray-900: 220 225 239;
  --color-gray-950: 236 239 245;

  --color-primary-100: 30 80 120;
  --color-primary: 93 177 255;

  --color-red: 255 80 80;
}

body {
  background: rgb(var(--color-white) / 1);
  color: rgb(var(--color-gray-950) / 1);
  font-family: var(--font-sans);
}
